<h1>edit recipe</h1>
<%= render "form", recipe: @recipe %>
<br>
<div>
  <%= link_to "display the recipe", @recipe, class: "" %> |
  <%= link_to "go back to the recipe", recipes_path ,class: "" %>
</div>