/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.nav-container {
  height: 40px;
  border-radius: 8px;
  background-color: rgb(5, 195, 212);
}

.navbar-items-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  list-style: none;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.sign-out-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(209, 111, 7);
}

.public-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.public-recipe-card {
  width: 500px;
  height: 130px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 8px;
}

.title-author-container {
  width: 300px;
  color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detailes-container {
  color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-card {
  height: 100px;
  width: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 8px;
}

.btn-delete {
  background-color: rgb(240, 136, 136);
  border-radius: 4px;
}

.recipe-description {
  width: 300px;
  height: 100px;
}

.main-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-add-new-recipe {
  height: 20px;
  background-color: rgb(2, 190, 2);
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
}

.new-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 300px;
  height: 30px;
  margin-top: 20px;
  padding-left: 8px;
}

.form-control-description {
  width: 300px;
  height: 60px;
  margin-top: 20px;
  padding-left: 8px;
}

.submit-new-recipe {
  background-color: rgb(2, 190, 2);
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.foods-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-add-food {
  background-color: rgb(2, 190, 2);
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.table-container {
  margin-top: 30px;
}

.table {
  border: 1px solid black;
  padding: 5px;
}

.add-food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 400px;
  margin-top: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.create-food-btn {
  margin-top: 20px;
  background-color: rgb(2, 190, 2);
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.inventories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-add-new-inventories {
  margin-top: 20px;
  background-color: rgb(2, 190, 2);
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.inventory {
  width: 500px;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 8px;
}

.user-delete-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.description {
  width: 300px;
}

.add-inventory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-submit-inventory {
  margin-top: 20px;
  background-color: rgb(2, 190, 2);
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.recipe-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-details {
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 8px;
}

.pre-cooking-description {
  width: 300px;
}

.recipe-status {
  margin-top: 20px;
  margin-right: 20px;
}

.ing-gen {
  width: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-add-gen {
  background-color: rgb(2, 190, 2);
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-select {
  height: 30px;
  width: 300px;
}

.shopping-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailes {
  width: 500px;
  height: 150px;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 20px;
}

.shopping-list {
  margin-top: 20px;
}

.single-inventory-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inventory-food-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice {
  font-size: 20px;
}
